.sudoku-wrapper {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.sudoku-container {
  color: #61dafb;
  position: relative;
  min-width: 36vw;
  min-height: 36vw;

  .sudoku-board-wrapper {
    position: relative;

    .sudoku-board {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
      grid-template-rows: repeat(9, 1fr);
      grid-gap: 2px;
      z-index: 0;
    }
  }
}
