  .sudoku-cell-input-div {
    input {
      overflow: hidden;
      width: 100%;
      background: none;
      outline: none;
      border: none;
      color: white;
      text-align: center;
      font-size: 2vmax;
      min-height: 50px;
      padding: 0;
    }
  }
