$cell-size: 9.53vw;

.sudoku-container {
  .sudoku-board {
    .sudoku-cell {
      background-color: rgba(0, 0, 0, 0.185);
      height: $cell-size;
      width: $cell-size;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      font-weight: bold;
      padding: 0;
      margin: 0;

      .sudoku-invalid-element {
        color: lightcoral;
      }
    }
  }
}

@media (min-width: 600px) {
  .sudoku-cell {
    max-height: 3.88vw;
    max-width: 3.88vw;
  }
}
