.sudoku-container {
  .sudoku-board {
    .sudoku-cell {
      background-color: rgba(0, 0, 0, 0.185);
      height: 10vw;
      width: 10vw;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2vmax;
      font-weight: bold;
      padding: 0;
      margin: 0;

      .sudoku-invalid-element {
        color: lightcoral;
      }
    }

    .sudoku-cell:nth-of-type(9n + 4),
    .sudoku-cell:nth-of-type(9n + 5),
    .sudoku-cell:nth-of-type(9n + 6),
    .sudoku-cell:nth-of-type(n + 28):nth-of-type(-n + 54) {
      background-color: rgba(0, 0, 0, 0.4);
    }

    .sudoku-cell:nth-of-type(n + 28):nth-of-type(-n + 54):nth-of-type(9n + 4),
    .sudoku-cell:nth-of-type(n + 28):nth-of-type(-n + 54):nth-of-type(9n + 5),
    .sudoku-cell:nth-of-type(n + 28):nth-of-type(-n + 54):nth-of-type(9n + 6) {
      background-color: rgba(0, 0, 0, 0.2);
    }
  }
}

@media (min-width: 736px) {
  .sudoku-cell {
    max-height: 4vw;
    max-width: 4vw;
  }
}
